body{
    background: rgb(115, 177, 115);
}

div{
    background: rgb(255, 3, 3);
    width: 80%;
    border-radius: 30px;
    padding: 30px;
    margin: auto;
}

img{
    width: 48%;
}

h1{
    text-align: center;
    color: #dff300;
    font-size: 50px;
    text-transform: uppercase;
}

p{
    font-size: 30px ;
}